{% extends "story/base_generic.html" %}

{% block content %}

        <h2 class="ui icon blue header">
            <i class="chess icon"></i>
            <div class="content">
                Sample blog post
                <div class="sub header">Manage your blogs account preferences.</div>
            </div>
        </h2>
        <span>March 6, 2017 by <a href="blog.html">Jack</a></span>
        <div class="ui hidden divider"></div>
        <p>
            This blog post shows a few different types of content that's supported and styled with Semantic-UI. Basic typesetting, list, and code are all supported.
        </p>
        <div class="ui divider"></div>

        <div class="ui relaxed divided list">
            <div class="item">
                <div class="right floated content">
                    <div class="header">Steve Jobes</div>
                </div>
                <i class="large sticky note outline middle aligned icon"></i>
                <div class="content">
                    <a class="header">Blog Title </a>
                    <div class="description">Updated 10 mins ago</div>
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                    <div class="header">Steve Jobes</div>
                </div>
                <i class="large sticky note outline middle aligned icon"></i>
                <div class="content">
                    <a class="header">Blog Title -Docs</a>
                    <div class="description">Updated 22 mins ago</div>
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                    <div class="header">Steve Jobes</div>
                </div>
                <i class="large sticky note outline middle aligned icon"></i>
                <div class="content">
                    <a class="header">Blog Title -Meteor</a>
                    <div class="description">Updated 34 mins ago</div>
                </div>
            </div>

        </div>
        <div class="ui basic segment">
            <div class="ui basic circular huge button">
                <a href="blog.html#">Previous</a>
            </div>
            <div class="ui basic circular huge button">
                <a href="blog.html#">Next</a>
            </div>
        </div>


{% endblock %}

